<div class="container-fluid vh-100 bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card mt-5 bg-info">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div class="text-dark"><p class="font-weight-bold"><strong>CASIO</strong></p></div>
              <div class="text-warning"><p class="font-weight-bold"><strong>FX JVPRZ PLUS</strong></p></div>
            </div>
          </div>
          <div class="card-body">
            <div class="form-floating mb-4">
              <input id="input" type="text" class="form-control form-control-sm bg-secondary" id="username" readonly="true" [value]="number1">
            </div>
            <div class="mb-2">
              <div class="d-flex justify-content-between">
                <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(7)">%</button></div>
                <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(6)">√</button></div>
                <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(5)">x²</button></div>
                <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(4)">/</button></div>
              </div>
            </div>

            <div class="mb-2">
              <div class="d-flex justify-content-between">
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(7)">7</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(8)">8</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(9)">9</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(3)">X</button></div>
              </div>
            </div>
            <div class="mb-2">
              <div class="d-flex justify-content-between">
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(4)">4</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(5)">5</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(6)">6</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(2)">-</button></div>
              </div>
            </div>
            <div class="mb-2">
              <div class="d-flex justify-content-between">
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(1)">1</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(2)">2</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(3)">3</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressOperator(1)">+</button></div>
              </div>
            </div>
            <div class="mb-2">
              <div class="d-flex justify-content-between">
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressNumber(0)">0</button></div>
                  <div><button class="btn btn-block btn-primary flex-fill me-2" (click)="pressDecimals()">.</button></div>
                  <div><button class="btn btn-block btn-danger flex-fill me-2" (click)="pressC()">C</button></div>
                  <div><button class="btn btn-block btn-warning flex-fill me-2" (click)="pressEquals()">=</button></div>
              </div>
            </div>
          </div>
          <div class="card-footer" (click)="easterEgg()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
