<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 text-center" *ngIf="character != null">
      <h3>{{ character.name }}</h3>
      <img src="{{ character.image }}" alt="" class="img-fluid mt-2">
      <p class="mt-3">Status: {{ character.status }} </p>
      <p>Species: {{ character.species }}</p>
      <p>Gender: {{ character.gender }}</p>
      <p>Origin: {{ character.origin.name }}</p>
      <p>Location: {{ character.location.name }}</p>
      <button class="btn btn-warning mt-1" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
